version: '3'

services:

  server:
    build:
      context: .
    privileged: true  # For kubefwd
    command: "python /app/src/server.py"
    restart: "no"
    depends_on:
      - redis
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app
    ports:
      - "50051:50052"

  server_test:
    build:
      dockerfile: Dockerfile
      context: .
    depends_on:
      - test_redis
    volumes:
      - .:/app
    environment:
      - PYTHONPATH=/app/
      - REDIS_HOST=test_redis


  redis:
    image: redis:6.0.6-alpine
    command: redis-server --maxmemory 256Mb
    restart: "no"

  test_redis:
    image: redis:6.0.6-alpine
    command: redis-server --maxmemory 256Mb
    restart: "no"


volumes:
  data:
