fastapi
uvicorn

tortoise-orm
#asyncpg
aioredis
pytest
pytest-asyncio
#pyyaml
#python-rapidjson
#grpclib
pydantic
#protobuf
environs
aiologger
#sentry_sdk
aiohttp
lxml
beautifulsoup4
cchardet
aiodns
#aio_pika
#prometheus-async
